
.todo {
  width: 100%;
  max-width: 550px;

  background-color: #565eae;

  padding: 10px 15px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.todo span {
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: start;
}
